.ingredient {
    width: 90%;
    height: 15px;
    border: 5px solid white;
    border-radius: 30px;
    padding: 5px 0;
    margin: 0 auto;
}

.ham {
    background-color: pink;
}

.lettuce {
    background-color: lightgreen;
}

.chesse {
    background-color: yellow;
}

.bread-top {
    background: linear-gradient(#bc581e, #e27b36);
    border-radius: 50% 50% 0 0;
    height: 40px;
    box-shadow: inset -15px 0 #c15711;
}

.bread-bottom {
    background: linear-gradient(#F08E4A, #e27b36);
    box-shadow: inset -15px 0 #c15711;
    height: 25px;
    border-radius: 0 0 15px 15px;
}

.meat {
    background-color: #a74504;
}
